<%= simple_form_for(@log) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :log_day, as: :date  %>
    <%= f.input :positive_thing, as: :text %>
    <%= f.input :idea, as: :text %>
    <%= f.input :thought_again, as: :text %>
    <%= f.input :remember, as: :text %>
    <%= f.input :motibation, as: :integer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
