<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :goodthing %><br>
    <%= f.text_field :goodthing %>
  </div>
  <div class="field">
    <%= f.label :idea %><br>
    <%= f.text_field :idea %>
  </div>
  <div class="field">
    <%= f.label :rethink %><br>
    <%= f.text_field :rethink %>
  </div>
  <div class="field">
    <%= f.label :remember %><br>
    <%= f.text_field :remember %>
  </div>
  <div class="field">
    <%= f.label :motibation %><br>
    <%= f.number_field :motibation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
