<% if current_user %>
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Log day</th>
        <th>Positive thing</th>
        <th>Idea</th>
        <th>Thought again</th>
        <th>Remember</th>
        <th>Motivation</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.log_day %></td>
        <td><%= log.positive_thing %></td>
        <td><%= log.idea %></td>
        <td><%= log.thought_again %></td>
        <td><%= log.remember %></td>
        <td><%= log.motivation %></td>
        <td><%= link_to 'Show', log %><br>
          <%= link_to 'Edit', edit_log_path(log) %><br>
          <%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
