<p id="notice"><%= notice %></p>

<p>
  <strong>Log day:</strong>
  <%= @log.log_day %>
</p>

<p>
  <strong>Positive thing:</strong>
  <%= @log.positive_thing %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @log.idea %>
</p>

<p>
  <strong>Thought again:</strong>
  <%= @log.thought_again %>
</p>

<p>
  <strong>Remember:</strong>
  <%= @log.remember %>
</p>

<p>
  <strong>Motibation:</strong>
  <%= @log.motibation %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
