<!DOCTYPE html>
<html>
  <head>
    <title>Daylog</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  <body style="padding-top:70px;">
    <%= render partial: 'navbar' %>
    <div class="container">
      <p id="notice"><%= notice %></p>
      <% if current_user %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
