<!DOCTYPE html>
<html>
<head>
  <title>Daylog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

  <div id="user_nav">
    <p id="notice"><%= notice %></p>
    <% if current_user %>
      <%= current_user.name %>さん <%= link_to "ログアウト" ,logout_path %>
    <% else %>
      <%= link_to "Twitterでlogin","/auth/twitter" %>
      <%= link_to "facebookでlogin", "/auth/facebook" %>
    <% end %>
  </div>

<% if current_user %>
  <%= yield %>
<% end %>

</div>
</body>
</html>
